* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/*utility*/

.clearfix {
    content: "";
    display: table;
    clear: both;
}



.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}


.float-left {
    float: left;
}

.float-right {
    float: right;
}





header {
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
}

.logo {
    padding: 39px;
}

nav {
    display: inline-block;
    text-align: center;
    line-height: 100px;
}

nav li {
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
}

nav li a {
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    color: black;
}


.nav-right {
    margin-right: 25px;
}


.btn {
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-right: 0px;
    vertical-align: center;
    padding: 10px 15px;
}

.btn:hover {
    color: blue;
}


/* prima section */


.first-container {
    background-color: #b4d0e7;
    margin-top: 100px;
}



.paragraf .float-left {
    font-size: 20px;
    width: 30%;
    padding-top: 250px;

}



.container {
    margin: 100px auto;
    margin-bottom: 0px;
    width: 80%;
}


.first-container h1{
    font-size: 100px;
    text-align: center;
    width: 100%;
    margin: auto;
    
}



.btn.annulla {
    margin-top: 25px;
    margin-bottom: 10px;
}

.btn.annulla:hover {
    color: blue;
}



.float-left.img-float {
    padding-top: 100px;
   width: 70%;
}

.float-left img {
    width: 100%;
    padding-top: 20px;
}



.small-container {
    margin: 100px auto;
    margin-bottom: 0px;
    width: 70%;
}

.small-container h2 {
    font-size: 40px;
    padding-bottom: 50px;
}



.small-container .input {
    margin-left: 50px;
}

.row {
    width: 100%;
    padding-top: 30px;
}



.col{
    width: 31.3%;
    min-height: 1024px;
    border: 1px solid grey;
    margin: 0 2% 0 0;
}

.col.third {
    margin-right: 0px;
}



/* interno colonne */

.title {
    border-bottom: 1px solid grey;
    height: 55px;
    text-align: center;
    line-height: 55px;
    vertical-align: middle;
}

.container-col {
    margin-top: 30px;
    margin-left: 20px;
    line-height: 45px;
}



h3 {
    font-size: 30px;
}

.first-col-title {
    line-height: 30px;
    padding-top: 10px;
    
}


.mese {
    color: grey;
}

.second-col-title {
    margin-top: 30px;
}

.btn.prova {
    padding: 10px 45px;
    color: white;

}


.border {
    width: 50px;
    margin: 25px 0px 25px 0px;
    border-bottom: 1px solid grey;
}

.second-part-col h4 {
    font-size: 18px;
}

.second-col-title ul {
    list-style: none;
}


.second-col-title a {
    color: blue;
}


.second-col-title a:hover {
    text-decoration: none;
}


.second-part-col ul {
    list-style-type: none;
}



.second-part-col li::before {    
        content: "\f00c";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        margin:0 5px 0 0px;
        display: inline-block;
        
    }


    
    .second-col-title ul li:last-child {
        line-height: 25px;
    }

   
   .small-container-inside {
      /* height: 250px;*/
       margin-top: 40px;
       border: 1px solid grey;
       
   }



.enterprise {
    margin-top: 25px;
    margin-left: 10px;
      line-height: 45px; 
}

.contact {
    margin-right: 10px;
}

.small-container-inside-img {
    max-height: 1024px;
   
}


/* Partner */

.small-container-inside-img .partner {
    width: 60%;
}



.small-container-inside-img .text {
    width: 30%;
    margin-left: 8%;
    margin-top: 15%;
    
}

.small-container-inside-img .text p {
    margin-top: 10px;
}

.btn-partner {
    background-color: white;
    color: black;
    border: 1px solid black;
    text-align: center;    
}



.partner:hover {
    color: blue;
}



.new-col,
.new-col-two {
    border: none;
    min-height: 0px;
}

.new-col .first-part-col p,
.new-col-two .first-part-col p {
    margin-top: 10px;
    line-height: 25px;
}


.small-container .enterprise {
    width: 50%;
}

.new-container {
    border: none;
    margin-top: 150px;
}


.quadrati {
    height: 500px;
    border: 1px dashed red;
}



.color {
    height: 400px;
    background-color: #b4d0e7;
    margin: 40px auto;
}

.position {
    margin: 40px auto;
    padding-top: 130px;
}



.para {
    color: #61082b;
    font-weight: 900;
}


.ask {
    height: 300px;
    margin: 10px auto;
}





/*
section {
    max-width: 450px;
  }*/
  
  details {
    padding: 15px;
    margin-bottom: 2px;
  }

summary {
    
    cursor: pointer;
    font-weight: 900;
    font-size: 1.2em;
  }

  details > summary {
      color: red;
  }


  .up {
      display: none;
  }


  .h:hover {
      background-color: red;
  }






/* footer */


  ul {
    list-style-type: none;
    }


footer {
    background-color: #000000;
}


.footer-small {
    height: 500px;
    margin: 30px auto;
    color: white;
    
}


.float-left ul li a {
    color: white;
    text-decoration: none;
    line-height: 35px;
}


.footer-small h6 {
font-size: 25px;
}

.footer-small a {
    font-size: 15px;
   
}

.footer-small ul {
    margin-top: 10px;
    line-height: 20px;
}

.footer-inside {
    margin-top: 100px;
}


.border-two {
    width: 110px;
    margin-top: 350px;
    border-bottom: 1px solid white;
}

.it {
    margin-top: 35px;
}

.it a {
    color: white;
}
